<% present @post do |post_presenter| %>
<section class="post-show-container">
  <article class="post-show-card">
   <div class="card">
     <span class="card-title">
      <%= post_presenter.post_avatar %>
     </span>
     <div class="card-image">
      <%= post_presenter.post_image %>
     </div>
     <div class="card-content">
      <p><%= post_presenter.post_description %></p>
     </div>
     <div class="card-action">
      <%= post_presenter.liked_posts %>
      <%= post_presenter.delete_post %>
     </div>
   </div>
  </article>

  <article class="post-comments-form">
    <%= post_presenter.comments_form %>
  </article>

  <article class="post-comments">
    <%= post_presenter.render_comments %>
  </article>
</section>

<% end %>
