<section class="followings-container">
<section class="followings-card-container">

<% @accounts.each do |account| %>
<div class='following-card'>
<div class="card-panel grey lighten-5 z-depth-1">
  <div class="row valign-wrapper">
    <div class="col s2">
      <%if account.avatar.present? %>
        <%= image_tag(account.avatar, class: 'circle responsive-img')%>
      <%end%>
    </div>
    <div class="col s10">
      <span class="black-text">
        <%= link_to account.username, profile_path(account.username) %><br>
        <%= account.bio %>
      </span><br>
      <div class="card-action">
        <% if current_account.following?(account) %>
          <%= link_to "Unfollow", unfollow_account_path(account), method: :delete %>
        <% else %>
          <%= link_to "Follow", follow_account_path(account) ,method: :post %>
        <% end %>
      </div>
    </div>
    
  </div>
</div>
</div>

<div class='following-card'>
<div class="card-panel grey lighten-5 z-depth-1">
  <div class="row valign-wrapper">
    <div class="col s2">
      <img src="images/yuna.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
    </div>
    <div class="col s10">
      <span class="black-text">
        This is a square image. Add the "circle" class to it to make it appear circular.
      </span>
      <div class="card-action">
          <a href="#">This is a link</a>
        </div>
    </div>
    
  </div>
</div>
</div>

<div class='following-card'>
<div class="card-panel grey lighten-5 z-depth-1">
  <div class="row valign-wrapper">
    <div class="col s2">
      <img src="images/yuna.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
    </div>
    <div class="col s10">
      <span class="black-text">
        This is a square image. Add the "circle" class to it to make it appear circular.
      </span>
    </div>
  </div>
</div>
</div>

<div class='following-card'>
<div class="card-panel grey lighten-5 z-depth-1">
  <div class="row valign-wrapper">
    <div class="col s2">
      <img src="images/yuna.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
    </div>
    <div class="col s10">
      <span class="black-text">
        This is a square image. Add the "circle" class to it to make it appear circular.
      </span>
    </div>
  </div>
</div>
</div>

<div class='following-card'>
<div class="card-panel grey lighten-5 z-depth-1">
  <div class="row valign-wrapper">
    <div class="col s2">
      <img src="images/yuna.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
    </div>
    <div class="col s10">
      <span class="black-text">
        This is a square image. Add the "circle" class to it to make it appear circular.
      </span>
    </div>
  </div>
</div>
</div>

<% end %>

</section>
</section>