
<section class='feed'>
  <% @posts.each do |post| %>
    <% present post do |post_presenter| %>
    <section class='feed-card'>
      <div class="card">
        <span class="card-title">
          <%= post_presenter.post_avatar %>
          <%= post_presenter.post_username %>
        </span>
        <div class="card-image">
          <%= post_presenter.link_to_post_image %>
        </div>
      </div>
    </section>
    <% end %>
  <% end %>

  <ul class="collection with-header feed-collection">
    <li class="collection-header"><h4>Suggestions</h4></li>
    <li class="collection-item">

  <%= form_tag follow_index_path, method: :get do %>
   <%= text_field_tag :query, params[:query], placeholder: 'Search Users'  %>
   <%= submit_tag "Search", name: nil, class: 'btn' %>
  <% end %>

    </li>
    <% @follow_suggestions.each do |user| %>
      <li class="collection-item">
        <div><%= link_to user.username, profile_path(user.username) %>
          <%= link_to "Follow", follow_account_path(user) ,method: :post, class: 'secondary-content' %>
        </div>
      </li>
    <% end %>
  </ul>
</section>
