<% present @account do |account_presenter| %>

<section class="profile">
  <section class="profile-user">
    <section class="profile-user-avatar">
      <%= account_presenter.avatar %>
    </section>

    <section class="profile-user-info">
      <p><%= account_presenter.edit_profile %></p>
      <%= account_presenter.follow_unfollow %>
      <p><%= account_presenter.username %></p>
      <p><%= account_presenter.first_name %></p>
      <p><%= account_presenter.last_name %></p>
      <p>Followings: <%= account_presenter.followings_total %></p>
      <p>Follows<%= account_presenter.follows_total %></p>
      <p><%= account_presenter.bio %></p>
    </section>
  </section>

  <section class="profile-posts">
    <%= account_presenter.render_posts %>
  </section>
</section>

<% end %>
